# Core Flask Dependencies
Flask>=2.3.3
Werkzeug>=3.0.1
click>=8.1.7
itsdangerous>=2.1.2
Jinja2>=3.1.3
MarkupSafe>=2.1.5
setuptools>=70.0.0

# Cryptography and Security
cryptography==43.0.1
pyOpenSSL>=24.0.0
cffi>=1.16.0
pycparser>=2.21
python-jose[cryptography]>=3.3.0  # JWT security
urllib3>=2.2.2  # Dependency for safety
requests>=2.32.2  # Dependency for safety
Authlib>=1.3.1  # Dependency for safety
safety>=3.0.0  # Dependency vulnerability scanner
safety-schemas>=0.0.9  # Safety schemas
ruamel-yaml>=0.18.0  # Dependency for safety-schemas
pydantic>=2.6.0  # Dependency for safety-schemas
bandit>=1.7.8  # Security linter

# Key Generation and SSH
python-gnupg>=0.5.2
paramiko>=3.4.0

# WSGI Server
gunicorn>=22.0.0

# Additional Security
certifi>=2024.2.2
pyopenssl>=24.0.0
python-dotenv>=1.0.1  # Secure environment variable management

# Logging and Monitoring
structlog>=24.1.0  # Structured logging
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
